.nav-links {
  flex-direction: column;
}

/* The Hack: When checkbox is checked, show the menu */
#menu-toggle:checked ~ .nav-links {
  display: flex;
}

@media (min-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: row;
  }
}
