.nav-links {
  flex-direction: column;
}

/* The Hack: When checkbox is checked, show the menu */
#menu-toggle:checked ~ .nav-links {
  display: flex;
}

nav:has(#menu-toggle:checked) {
  background: var(--color-background);
}

@media (min-width: 768px) {
  nav {
    background: transparent;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    background: transparent;
  }
}
